---
layout: default
title: Top
---

<h2>記事一覧</h2>

{% for category in site.categories %}
  <div class="category-section">
    <h2>{{ category[0] | upcase }}</h2>

    <ul>
      {% for post in category[1] limit: 3 %}
        <li>
          <span style="color: #666;">{{ post.date | date: "%Y/%m/%d" }}</span> -
          <a href="{{ post.url| relative_url }}">{{ post.title }}</a>
        </li>
      {% endfor %}
    </ul>
    <p>
      <a href="{{ category[0] | append: '/' | relative_url }}">
        {{category[0] | upcase}} の記事を全て見る
      </a>
    </p>
  </div>
{% endfor %}